


# Bootstrap ##########################
Symfony/app/bootstrap

# Symfony directories
Symfony/vendor/*
Symfony/logs/*
Symfony/cache/*
Symfony/web/uploads/*
Symfony/web/bundles/*


# Configuration files
Symfony/app/config/parameters.ini
Symfony/app/config/parameters.yml

#others
*/nbproject/*