.buildpath
.project
.settings
.idea
desktop.ini
Thumbs.db
.DS_Store
.rsync_cache
catalog.xml
nbproject/
Symfony/Symfony/app/logs/*
Symfony/app/cache/*
Symfony/app/spool/*
Symfony/app/bootstrap.*
Symfony/app/config/parameters.ini
Symfony/app/config/parameters.yml
vendor/*
Symfony/web/uploads/*
Symfony/web/bundles/*
Symfony/web/css/*
Symfony/web/images/*
Symfony/web/js/*
Symfony/web/media/cache/*
*~